.contendor-formulario{
    display: grid;
    grid-template-areas: "membrete"
                         "formulario";
    

}

.formulario{
    grid-area: formulario;
    display: grid;
    grid-template-areas: "personales"
                         "migratorios"
                         "educativos-laborales";
}
.membrete {
    grid-area: membrete;
}

.membrete{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10px;
    justify-items: center;
    
}
.banner{
    grid-row: 1/-3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banderaVen{
    grid-row: 2/-2;
    display:grid;
    grid-template-columns: repeat(3,1fr);
}
 .personales {
    grid-area: personales;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(auto,1fr);
    grid-template-areas: "titulo                    titulo                    titulo"
                         "nombre                    nombre                    nada "
                         "apellido                  apellido                  nada"
                         "pasaporte                 vencimiento-pass          vacio"
                         "cedula                    nacimiento                vacio"
                         "nacimiento-titulo         nacimiento-titulo         nacimiento-titulo"
                         "estado                    municipio                 parroquia"
                         "edo-civil                 sexo                      edad"
                         "profesion                grado                      grado"
                         "hijos                     hijos                     hijos"
                         "ninos                     ninas                     NADA"
                         "brasil                    brasil                    brasil"
                         "estado-br                 cidade-br                 nadaaa"
                         "email                     email                     telefono"
                         "contacto-em               contacto-em               contacto-em"
                         "num-em                    cont-em                   nadita";
}

.edad{
    grid-area: edad;
}
.contacto-em{
    grid-area: contacto-em;
}
.num-em{
    grid-area: num-em;
}
.cont-em{
    grid-area: cont-em;
}
.titulo-personales{
    margin-top: 30px;
    grid-area: titulo;
}

.nombre{
    grid-area: nombre;
}

.apellido{
    grid-area: apellido;
}

.cedula{
    grid-area: cedula;
}

.nacimiento{
    grid-area: nacimiento;
}

.nacimiento-titulo{
    grid-area: nacimiento-titulo;
}

.estado{
    grid-area: estado;
}

.municipio{
    grid-area: municipio;
}

.parroquia{
    grid-area: parroquia;
}

.edo-civil{
    grid-area: edo-civil;
}

.sexo{
    grid-area: sexo;
}

.pasaporte{
    grid-area: pasaporte;
}

.vencimiento-pass{
    grid-area: vencimiento-pass;
}

.profesion{
    grid-area: profesion;
}

.grado{
    grid-area: grado;
}

.hijos{
    grid-area: hijos;
}

.sexo-hijos{
    grid-area: sexo-hijos;
}

.ninos{
    grid-area: ninos;
}

.ninas{
    grid-area: ninas;
}
.brasil{
    grid-area:brasil;
}

.estado-br{
    grid-area: estado-br;
}

.cidade-br{
    grid-area:cidade-br;
}


.email{
    grid-area: email;
}

.telefono{
    grid-area: telefono;
}

.migratorios{
    grid-area: migratorios;
    display:grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: "titulo-migratorios titulo-migratorios"
                         "consular           rne"
                         "llegada            situacion";
}

.titulo-migratorios{
    grid-area: titulo-migratorios;
}

.consular{
    grid-area: consular;
}

.rne{
    grid-area: rne;
}
.llegada{
    grid-area: llegada;
}

.situacion{
    grid-area: situacion;
}

.educativos-laborales{
    grid-area: educativos-laborales;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(auto,1fr);
    grid-template-areas: "titulo-EL     titulo-EL"
                         "situacion-lb  area-lb"
                         "enviar        enviar"
                         "mensaje       mensaje";

}

.educativos-laborales .titulo{
    grid-area: titulo-EL;
}

.situacion-lb{
    grid-area: situacion-lb;
}

.area-lb{
    grid-area: area-lb;
}

.mensaje{
    grid-area: mensaje;
}

.enviar{
    display: flex;
    justify-content: center;
    grid-area: enviar;
}

@media screen and (max-width: 900px) {
    
    .personales {
        grid-template-areas: "titulo                    titulo                    titulo"
                             "nombre                    nombre                    nombre "
                             "apellido                  apellido                  apellido"
                             "pasaporte                 vencimiento-pass          vencimiento-pass"
                             "cedula                    nacimiento                nacimiento"
                             "nacimiento-titulo         nacimiento-titulo         nacimiento-titulo"
                             "estado                    municipio                 parroquia"
                             "edo-civil                 sexo                      edad"
                             "profesion                grado                      grado"
                             "hijos                     hijos                     hijos"
                             "ninos                     ninas                     NADA"
                             "brasil                    brasil                    brasil"
                             "estado-br                 cidade-br                 nadaaa"
                             "email                     email                     telefono"
                             "contacto-em               contacto-em               contacto-em"
                             "num-em                    cont-em                   nadita";
    }

  div.banner h3{
        font-size: 30px;
    }

    .contendor-formulario h2{
        font-size: 30px !important;
    }


  }

  @media screen and (max-width: 658px) {

      
    .personales {
        grid-template-areas: "titulo                    titulo                    titulo"
                             "nombre                    nombre                    nombre "
                             "apellido                  apellido                  apellido"
                             "pasaporte                 vencimiento-pass          vencimiento-pass"
                             "cedula                    nacimiento                nacimiento"
                             "nacimiento-titulo         nacimiento-titulo         nacimiento-titulo"
                             "estado                    municipio                 parroquia"
                             "edo-civil                 sexo                      edad"
                             "profesion                 grado                     grado"
                             "hijos                     hijos                     hijos"
                             "ninos                     ninas                     NADA"
                             "brasil                    brasil                    brasil"
                             "estado-br                 cidade-br                 nadaaa"
                             "email                     email                     telefono"
                             "contacto-em               contacto-em               contacto-em"
                             "num-em                    cont-em                   nadita";
    }
    div.banner h3 {
        font-size: 18px;
    }

    label{
        font-size: 13px;
    }

    .contendor-formulario h2{
        font-size: 20px !important;
    }

    #pasaporte{
        width: 200px;
    }
  }
  
  @media screen and (max-width:  422px) {

    .personales {
        grid-template-rows: repeat( auto-fit, minmax(1fr, 1fr) );
        grid-template-areas: "titulo                    titulo"
                             "nombre                    nombre"
                             "apellido                  apellido"
                             "pasaporte                 vencimiento-pass"
                             "cedula                    nacimiento"
                             "nacimiento-titulo         nacimiento-titulo"
                             "estado                    estado"
                             "municipio                 municipio"
                             "parroquia                 parroquia"
                             "edo-civil                 edo-civil"
                             " sexo                      edad"
                             "profesion                 grado"
                             "hijos                     hijos"
                             "ninos                     ninas"
                             "brasil                    brasil"
                             "estado-br                 estado-br"
                             "cidade-br                 cidade-br"
                             "email                     telefono"
                             "contacto-em               contacto-em"
                             "num-em                    cont-em";
    }

    .mensaje > p:nth-child(1) {
        font-size: 10px;
    }
    select{
        width: 178px !important;
    }

    div.estado > select,
    div.municipio > select,
    div.parroquia > select{
        width: 341px !important;
    }

    div.estado-br > select,
    div.cidade-br > select{
        width: 341px !important;
    }
    .contendor-formulario{
        width: 100%;
    }

    .situacion-lb {
        width: 52%;
    }

    .area-lb {
        width: 75%;
    }

    .mensaje {
        width: 90%;
    }

    .enviar button {
        width: 204px;
    }
    .consular {
        padding-right: 0px !important;
    }

    .migratorios select{
         
            width: 161px !important;
        
    }
    .membrete{
        margin-right: 20px;
    }
  }
 